<div>
    <div class="modal-header">
        <h4 class="modal-title">Please login</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="wrongUserPass">Wrong email or password</div>
        <form novalidate id="loginForm" role="form" name="loginForm">
            <div class="form-group" ng-class="{true: 'has-error'}[loginForm.$submitted && loginForm['user.email'].$invalid]">
                <label for="user.email">Email</label>
                <span class="help-block" ng-show="loginForm.$submitted && loginForm['user.email'].$error.required">Please enter your email</span>
                <input type="email" class="form-control" ng-model="user.email" id="user.email" name="user.email" placeholder="Email" required/>
            </div>

            <div class="form-group" ng-class="{true: 'has-error'}[loginForm.$submitted && loginForm['user.password'].$invalid]">
                <label for="user.password">Password</label>
                <span class="help-block" ng-show="loginForm.$submitted && loginForm['user.password'].$error.required">Please enter your password</span>
                <input type="password" class="form-control" id="user.password" ng-model="user.password" name="user.password"
                       placeholder="Password" required/>
            </div>

            <div class="modal-footer">
                <div>
                    <a href="#" class="forgot-password-link" ng-click="LoginModalCtrl.forgotPassword()">Forgot password</a>
                    <button class="btn btn-success" ng-click="LoginModalCtrl.submit(loginForm)">Login</button>
                    <button class="btn btn-default" ng-click="LoginModalCtrl.cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>