<div>
    <div class="modal-header">
        <h4 class="modal-title">Forgot password</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="wrongEmail">Specified email not found</div>
        <div class="alert alert-success" role="alert" ng-show="success">Your new password was sent to specified email</div>
        <form novalidate id="forgotPasswordForm" role="form" name="forgotPasswordForm">
            <div class="form-group" ng-class="{true: 'has-error'}[forgotPasswordForm.$submitted && forgotPasswordForm['email'].$invalid]">
                <label for="email">Enter your registered email</label>
                <span class="help-block" ng-show="forgotPasswordForm.$submitted && forgotPasswordForm['email'].$error.required">Email may not be empty</span>
                <input type="email" class="form-control" ng-model="email" id="email" name="email" placeholder="Your email" required/>
            </div>
            <div class="modal-footer">
                <button ng-hide="success" class="btn btn-success" ng-click="ForgotPasswordModalCtrl.submit(forgotPasswordForm)">Reset password</button>
                <button class="btn btn-default" ng-click="ForgotPasswordModalCtrl.cancel()">Close</button>
            </div>
        </form>
    </div>
</div>